#index
  :markdown
    # Welcome!

    Welcome to _Projects@_, which aims to catalogue and organize student 
    computer science / engineering projects at the University of Michigan.

    ## Getting started
    * ### Project authors:
      As an author, you can [add your project](/add) easily to the site by filling out a simple form.

    * ### Those wanting to join a project:
      Browse those projects [needing help](/tag/needing-help).

    * ### For the curious:
      View [iphone](/tag/iphone), [linux](/tag/linux), or [abandoned](/tag/abandoned) projects.
