
#add
  #tag-bucket
    +float-and-clear

  sup
    color: red
    font-size: 60%
    vertical-align: super
  textarea
    +float
    font-size: 90%

  label, input
    +float
    margin-top: 1em

  p.description
    +summary-text
    +float-and-clear

  label
    font-weight: bold
    margin-right: 1em
    clear: left

  input.submit, textarea
    clear: left
